# BOOLEAN MASK

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df=pd.read_csv('netflix_titles_2021.csv')
#print(df)
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
twopower=pd.Series([1,2,3,4,5,6,7,8,9])
bm=[True,False,False,False,False,False,False,True,True]
twopower[bm]

0    1
7    8
8    9
dtype: int64

In [4]:
bm=twopower%2==0
twopower[bm]

1    2
3    4
5    6
7    8
dtype: int64

# count of movies released in 2020 for each country

In [5]:
bm=df.release_year==2020

In [6]:
df[bm].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

In [7]:
df1=df.dropna(subset=['rating'])

In [8]:
df1.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [9]:
df[bm].rating.value_counts()

TV-MA    469
TV-14    174
TV-PG     80
TV-Y      59
R         48
TV-G      45
TV-Y7     41
PG-13     21
PG        15
G          1
Name: rating, dtype: int64

In [10]:
bm=df.rating=="TV-PG"

In [11]:
df[bm].release_year.value_counts()

2017    111
2018    105
2019     98
2016     97
2020     80
2015     63
2014     47
2021     45
2013     29
2012     23
2010     20
2011     18
2009     16
2004     10
2006     10
2005     10
2008      9
1988      6
2007      6
2000      5
1943      3
2003      3
1960      2
1979      2
1999      2
1977      2
1995      2
1989      2
1962      2
1992      2
1994      2
1998      2
2002      2
1996      2
1976      2
1982      2
1993      2
2001      2
1946      1
1947      1
1944      1
1970      1
1955      1
1974      1
1990      1
1981      1
1978      1
1980      1
1975      1
1972      1
1991      1
1997      1
1987      1
1969      1
1966      1
Name: release_year, dtype: int64

# ##Number of countries which released shows on August 27, 2021

In [21]:
bm=df.date_added=="September 24, 2021"

In [22]:
df[bm].country.value_counts()

South Africa                                                             1
India                                                                    1
United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia    1
United Kingdom                                                           1
United States                                                            1
Name: country, dtype: int64